<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center">Login</h5>
            <form (ngSubmit)="onSubmit(loginForm.value)" #loginForm="ngForm">
                <div class="form-group">
                  <label for="email">Email address</label>
                  <input type="email" class="form-control" id="email" name="email" ngModel required>
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" id="password" name="password" ngModel required>
                </div>
                <button type="submit" class="btn btn-primary btn-block mt-2" [disabled]="!loginForm.form.valid">Login</button>
              </form>
              
          </div>
        </div>
      </div>
    </div>
  </div>
  